<h1><%= @room.name %></h1>

<ul id="messages">
</ul>

<div id="message_create_form">
  <%= render 'messages/form' %>
</div>

<%= content_for :javascript do %>
<script src="https://pubnub.a.ssl.fastly.net/pubnub.min.js"></script>
<script>
(function() {

  function message(data) {
    return $("<li/>").text(data.message);
  }

  var $form_wrapper = $('#message_create_form'),
      $messages = $('#messages');

  /* 'wss://ORIGIN/PUBLISH_KEY/SUBSCRIBE_KEY/CHANNEL' */
  WebSocket  = PUBNUB.ws;
  var socket = new WebSocket('wss://pubsub.pubnub.com/demo/demo/<%=@room.id%>');

  socket.onmessage = function(evt) {
    console.log(evt.data);
    $messages.append(message(evt.data));
  }

  socket.onclose = function() {
  }

  socket.onerror = function() {
  }

  socket.onopen = function(evt) {
  }

  socket.onsend = function(evt) {
  }
})();
</script>
<% end %>
