%clear-fix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%wrapper {
    @extend %clear-fix;
    max-width: $app-width + $gutter*2;
    padding: 0 $grid-gutter;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

%box-sizing {
    @include box-sizing(border-box);

    *, *:before, *:after {
        @include box-sizing(inherit);
    }
}

%vertical-center {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

%horizontal-center {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

%center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

%small-caps {
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
}

%hide-text {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content;}
    &:-moz-placeholder           {@content;}
    &::-moz-placeholder          {@content;}
    &:-ms-input-placeholder      {@content;}
}

@mixin background-image-retina($file, $type: 'png', $width: 'auto', $height: 'auto') {
  background-image: url('#{$img-dir}' + $file + '.' + $type);
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (   min--moz-device-pixel-ratio: 1.5),
         only screen and (     -o-min-device-pixel-ratio: 3/2),
         only screen and (        min-device-pixel-ratio: 1.5),
         only screen and (                min-resolution: 150dpi),
         only screen and (                min-resolution: 1.5dppx) {
    & {
      background-image: url('#{$img-dir}' + $file + '@2x.' + $type);
    }
  }
}

@mixin breakpoint($width, $measure: 'max-width') {
    @media ($measure: $width) { @content; }
}

