@import 'compass';
@import 'normalize';
@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

@import 'definitions';
@import 'base';

html {
    @include box-sizing(border-box);

    height: 100%;
    font-size: 62.5%;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *, *:before, *:after {
        @include box-sizing(inherit);
    }
}

body {
    height: 100%;
    background-color: $main;
    color: $dark;
    font-family: $primary-font-stack;
    font-weight: $font-regular;
    font-size: 1.8rem;
    line-height: 1.5
}

svg {
    display: block;
}

.wrapper {
    @extend %wrapper;
    position: relative;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid $dark;

    @include placeholder {
        color: $dark;
    }
}

header {
    @extend %wrapper;
    @extend %clear-fix;

    &.main nav {
        padding: $gutter 0;
        position: relative;

        &:before, &:after {
            position: absolute;
            top: 50%;
            content: '';
            width: 38%;
            border-bottom: 2px solid $faded-dark;
            display: inline-block;
            float: left;
        }

        &:after {
            right: 0;
        }
    }

    figure {
        width: 21%;
        margin: 0 auto;
        display: block;
    }

}

.room-header {
    @extend %wrapper;
    @extend %clear-fix;
    padding-bottom: $gutter;

    h1 {
        margin: 0;
        font-weight: $font-regular;
    }

    .user-display {
        float: left;
        width: 78%;
        margin-right: 2%;

        .name {
            width: 70%;
            float: left;
        }

        .user-language {
            width: 20%;
            float: left;
            position: relative;
            margin-top: 0.85em;

            select {
                background: transparent;
                font-family: inherit;
                border: none;
                border-bottom: 1px solid $dark;
                border-radius: 0;
                outline: none;
                -webkit-appearance: none;
                --moz-appearance: none;
                appearance: none;
                width: 100%;
                padding-right: 20px;
            }

            &:after {
                content: '\25BC';
                position: absolute;
                right: 2px;
                top: 0.45em;
                font-size: 0.65em;
                color: rgba($dark, 0.75);
            }
        }

        .current-user-name {
            cursor: pointer;
        }

        .edit_user {
            display: inline;
        }

        .hidden {
            display: none;
        }
    }

    .room-info {
        float: left;
        width: 20%;
        position: relative;

        p {
            position: relative;
            cursor: pointer;
            border-bottom: 1px solid $dark;
            margin-bottom: 0;
            margin-top: 0.85em;

            &:after {
                content: '\25BC';
                position: absolute;
                right: 2px;
                top: 0.45em;
                font-size: 0.65em;
                color: rgba($dark, 0.75);
            }
        }

        .members {
            display: none;
            margin: 0;
            width: 100%;
            position: absolute;

            li {
                padding: 5px;
                background-color: $faded-dark;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
}


.messages {
    background-color: $white;
    height: 50%;
    margin-bottom: $gutter;
    border-top: 2px solid $faded-dark;
    border-bottom: 2px solid $faded-dark;
    padding: 50px;
    position: relative;

    .wrapper {
        height: 100%;
        @extend %clear-fix;
        overflow-y: scroll;
    }

    ul {
        position: absolute;
        bottom: 0;
        width: 93%;
        list-style-type: none;
        padding: 0;

        li {
            border-top: 1px solid $faded-dark;
            padding: $gutter 0 $gutter 20%;

            &.me {
                padding-left: 0;
                padding-right: 20%;
            }
        }
    }
}

.message-input {
    @extend %wrapper;

    form {
        background-color: $faded-dark;
        padding: $gutter;
    }

    label {
        display: none;
    }

    input[type="text"] {
        border-bottom: 0;
        width: 100%;
    }
}
